<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="dns-prefetch" href="https://scontent.xx.fbcdn.net"/>
  <title>{{title}} | {{site.title}}</title>

  <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="{{assets}}/js/plugins/lightgallery/css/lightGallery.css" />
    <link href="{{assets}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{assets}}/css/creekside-base.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- <link href="{{assets}}/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <link href="{{assets}}/css/creekside-prefixed.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{assets}}/css/type.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{assets}}/css/photostrip.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
